<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chats</title>
</head>
<body>
    
    <form action="/chats" method="post">
     <label for="from">From:</label>
     <input type="text" placeholder="From User" name="from"><br><br>
     <label for="to">To</label>
     <input type="text" placeholder="to User" name="to"><br><br>
     <label for="msg"></label>
     <textarea rows="10" cols="50" name="msg" placeholder="write your message" ></textarea><br><br>
    <button>Send</button>
</form>
</body>
</html>